body {
  font-family: "Asap", sans-serif;
}

.padded-content {
  margin: 0 auto;
  max-width: 64rem;
}

.clickable {
  cursor: pointer;
}

.w-90 {
  width: 90% !important;
}

/* Mobile Hidden */
@media (max-width: 374px) {
  .mobile-hidden {
    display: none !important;
  }
}
